name: Deploy on gh-pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2.1.4
        with:
          node-version: '12.x'

      - name: Cache dependencies
        uses: actions/cache@v2.1.3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      - run: npm run docs

      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          
      - name: test
        uses: SpicyPizza/create-envfile@v1.2
        with: 
          envkey_DEBUG: false
          envkey_EOS_PRIVATE_KEY: ${{ secrets.TEST_PRIVATEKEY_PIXEOS1GSWAP }}
          envkey_EOS_PUBLIC_KEY: ${{ secrets.TEST_PUBLICKEY_PIXEOS }}
          envkey_EOS_ACCOUNT_NAME: ${{ secrets.TEST_PERMISSION_PIXEOS }}
          envkey_EOS_ACCOUNT_PERMISSION: ${{ sectrets.TEST_ACCOUNTNAME_PIXEOS }}
          directory: test
          file_name: .env.test
      - run: npm run test
